html,
body {
	background-color: white;
	margin: 0;
	padding: 0;
	height: 100vh;
}
div.header {
	display: flex;
	margin: 0;
	height: 30px;
}
div.header > div.titleFrame {
	width: 30vw;
	margin: 2px;
}
div.header > div.menu {
	width: 70vw;
	margin: 2px;
}
div.header > div.menu > button {
	margin: 2px;
	cursor: pointer;
}
div.header > div.titleFrame > span.title {
	font-size: 120%;
	font-weight: bold;
	margin: 0;
}
div.header > div.titleFrame > span.version {
	font-size: 80%;
	margin: 0;
}

div.Contents {
	display: flex;
	margin: 0;
	width: 100vw;
	height: calc(100vh - 30px);
}
div.Contents > div.Pages {
	margin: 0;
	width: 50vw;
	background-color: aliceblue;
}
div.Contents > div.Editor {
	margin: 0;
	width: 50vw;
	background-color: azure;
	height: 100%;
}
div.Contents > div.Editor > textarea {
	margin: 0;
	width: calc(50vw - 8px);
	background-color: transparent;
	border-style: solid;
	height: 99.1%;
	font-size: x-small;
}

div.tab {
	display: flex;
}

div.tab > div {
	margin: 2px 2px 0 2px;
	font-size: 80%;
	height: 20px;
	padding: 2px 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
}
div.tab > div.selected {
	font-weight: bold;
}
div.tab > div.tabPages {
	background-color: #beeeff;
}
div.tab > div.tabFormatted {
	background-color: #ffdbbe;
}
div.tab > div.tabJson {
	background-color: #e3ffbe;
}
div.pagesMain {
	height: calc(100% - 24px);
	width: 100%;
}
div.pagesMain > div {
	height: 100%;
	display: none;
}
div.pagesMain > div.pages {
	background-color: #beeeff;
}
div.pagesMain > div.formatted {
	font-size: xx-small;
	background-color: #ffdbbe;
	white-space: pre;
	overflow: scroll;
}
div.pagesMain > div.json {
	font-size: xx-small;
	background-color: #e3ffbe;
	white-space: pre;
	overflow: scroll;
}

div.pagesMain > div.selected {
	display: block;
}
